.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.container div{
    background-color: blue;
    width: 150px;
    height: 150px; 
    margin: 10px;
}